appdirs==1.4.4
async-timeout==4.0.2
beautifulsoup4==4.11.2
bs4==0.0.1
cachetools==5.3.0
certifi==2022.12.7
charset-normalizer==3.0.1
cssselect==1.2.0
fake-useragent==1.1.1
google-api-core==2.11.0
google-api-python-client==2.80.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
googleapis-common-protos==1.58.0
httplib2==0.21.0
idna==3.4
importlib-metadata==6.0.0
lxml==4.9.2
parse==1.19.0
protobuf==4.22.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyee==8.2.2
pyparsing==3.0.9
pyppeteer==1.0.2
pyquery==2.0.0
redis==4.5.1
requests==2.28.2
requests-html==0.10.0
rsa==4.9
six==1.16.0
soupsieve==2.4
spotipy==2.22.1
tqdm==4.65.0
uritemplate==4.1.1
urllib3==1.26.14
w3lib==2.1.1
websockets==10.4
zipp==3.15.0
